<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Admin</th>
      <th>Email Admin</th>
      <th>Status</th>
      <th>Role</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < admin.length; i++){ %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= admin[i].name %></td>
      <td><%= admin[i]?.email ?? '-' %></td>
      <td>
        <% if(admin[i].status === 'Y') { %>
        <span class="badge badge-success"> Aktif </span>
        <% } else { %>
        <span class="badge badge-danger"> Tidak Aktif </span>
        <% } %>
      </td>
      <td><%= admin[i].role %></td>
      <td>
        <form
          action="/master/status/<%= admin[i]._id %>?_method=PUT"
          method="post"
          style="display: inline-block"
        >
          <button class="btn btn-primary btn-sm">
            <i class="fas fa-folder"></i>
            <% if(admin[i].status === 'Y') { %> Matikan <% } else { %> Hidupkan
            <% } %>
          </button>
        </form>
        <form
          action="/master/delete/<%= admin[i]._id %>?_method=DELETE"
          method="post"
          style="display: inline-block"
        >
          <a
            href="/master/edit/<%= admin[i]._id %>"
            class="btn btn-info btn-sm"
          >
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <button class="btn btn-danger btn-sm">
            <i class="fas fa-trash-alt"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
